@font-face {
  font-family: Inter;
  font-weight: 100 900;
  src: url(/fonts/Inter.ttf) format(woff2);
}

@font-face {
  font-family: Atkinson Hyperlegible;
  font-weight: normal;
  src: url(/fonts/Atkinson\ Hyperlegible.ttf) format(woff2);
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

input,
button,
select,
textarea {
  font-size: inherit;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);

  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
}
