.cards {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: var(--gutter);
  row-gap: var(--gutter);
}

.cards .card {
  grid-column: span 6;
  grid-template-rows: auto 1fr auto;
}

@media (max-width >= 700px) {
  .cards .card {
    grid-column: span 12;
  }
}
