.sr-only:not(:focus-within):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.takki {
  display: inline-block;
  padding: 5px 10px;
  background-color: var(--color-accent);
  color: var(--color-input-background);
  border: 2px solid var(--color-border);
  border-radius: 5px;
  font-size: 1rem;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  margin-bottom: 20px;
}

.takki:hover {
  opacity: 0.85;
}
